:root {
  --hijau: #123524;
  --hijau-daun: #3e7b27;
  --hijau-sawah: #85a947;
  --kulit: #efe3c2;
  --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

body {
  font-size: 1.2rem;
  font-family: 'Poppins', serif;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/bg-hero-2.jpg);
  background-size: cover;
  z-index: -1;
  background-position: 200px;
  filter: saturate();
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1 {
  font-family: 'Charm', serif;
  font-size: 6rem;
  text-shadow: var(--shadow);
}

.hero h4 {
  font-size: 1.6rem;
  text-shadow: var(--shadow);
}

.hero p {
  font-size: 1.4rem;
  text-shadow: var(--shadow);
}

.hero a {
  color: var(--hijau-sawah);
  background-color: white;
}

.hero a:hover {
  background-color: var(--hijau-sawah);
  color: white;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-tittle {
  font-family: 'Charm', serif;
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  font-weight: 500;
  text-transform: uppercase;
}

.home {
  background-image: url(img/floral-edit.png);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.home h2 {
  color: var(--hijau-daun);
  font-family: 'Charm';
  font-size: 5rem;
  font-weight: bold;
}

.home h3 {
  color: #444;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
  color: #666;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: 'Charm';
  font-size: 2.4rem;
  color: var(--hijau-sawah);
}

.home .couple img {
  width: 100%;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 50%;
  box-shadow: var(--shadow);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(75px);
}

.home .heart i {
  margin: auto;
  color: var(--hijau-daun);
}

.info {
  background-color: var(--hijau);
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info h2 {
  color: var(--hijau-daun);
  font-family: 'Charm';
  font-size: 5rem;
  font-weight: bold;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: white !important;
  border: 1px var(--hijau-sawah) solid;
}

.info .card-header {
  border: 1px var(--hijau-sawah) solid;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px var(--hijau-sawah) solid;
  font-size: 0.9rem;
  font-weight: 500;
}

/* extra large */

@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(65px);
  }
}

/* laptop */

@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .home .heart {
    display: none;
  }
}

/* tablet */

@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }
  .sticky-top {
    overflow: hidden;
  }
}

/* mobile phone */

@media screen and (max-width: 640px) {
  .hero h1 {
    font-size: 4rem;
  }
  .hero p {
    font-size: 1.2rem;
  }
  .hero::before {
    background-position: 0px;
  }
}
